.graphwidth{
    display: flex;
    width:72.5%;
    margin-left:10px;
    margin-top:10px;
    
    
    
}
.buttongraph{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    width:20%;
}
.buttons{
    font-family: Roboto;
    margin-top: 20px !important;
    
    line-height: 12px;
    text-align: center;
    width: 120px;
    height: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 11px !important;
    
}
.circle{
    background-color: aqua;
    border-radius: 50%;
    
}
@media only screen and (max-width: 1610px) {
    .buttongraph{
        margin-left: 30px;
        width:25%;
    }
    .buttons{
        font-family: Roboto;
        margin-top: 20px !important;
        
        line-height: 12px;
        text-align: center;
        width: 110px;
        height: 20px;
        font-style: normal;
        font-weight: normal;
        font-size: 10px !important;
        
    }

    .graphwidth{
       
        width:60.5%;
    }
}
@media only screen and (max-width: 1200px) {
    .graphwidth{
        
        width:60.5%;
    }
    .buttongraph{
        margin-left: 20px;
    }
    .buttons{
        font-family: Roboto;
        margin-top: 20px !important;
        
        line-height: 12px;
        text-align: center;
        width: 100px;
        height: 20px;
        font-style: normal;
        font-weight: normal;
        font-size: 10px !important;
        
    }
}