/* detect */
.main {
    display: flex;
}
.detect {
    display: flex;
    width: 300px;
    font-size: 15px;
    margin-left: 30px;
}
.alert {
    display: flex;
    font-size: 15px;
    width:40% ;
}
.date1 {
    margin-top: 40px;
    margin-left:-61px;
}
.date2 {
    margin-top: 40px;
    margin-left:-134px;
}
/* Solid border */
.main {
    border-bottom: 2px solid gray;
  }
  /* tagged */
  .main2 {
      display: flex;
  }
  .tagged {
      display: flex;
    margin-left: 30px;
    font-size: 15px;
  }

.key1 {
    
    margin-top: 65px;
    margin-left: -70px;
    border: 1px solid black;
    border-radius:10px;
    width: 90px;
    text-align: center;
}
.key2 {
    margin-left: 5%;
    margin-top: 65px;
    border: 1px solid black;
    border-radius:10px;
    width: 90px;
    text-align: center;
}
.key3 {
    margin-left: 5%;
    margin-top: 65px;
    border: 1px solid black;
    border-radius:10px;
    width: 90px;
    text-align: center;
}
.key4 {
    margin-left: 5%;
    margin-top: 65px;
    border: 1px solid black;
    border-radius:10px;
    width: 90px;
    text-align: center;
}
.keys {
    display: flex;
    margin-bottom: 20px;
    margin-left: -30px;
}
.tagged1 {
    display: flex;
  margin-left: 30px;
  font-size: 15px;
}

.key11 {
  
  margin-top: 65px;
  margin-left: -70px;
  border: 1px solid black;
  border-radius:10px;
  width: 90px;
  text-align: center;
}
.key12 {
  margin-left: 5%;
  margin-top: 65px;
  border: 1px solid black;
  border-radius:10px;
  width: 90px;
  text-align: center;
}
.key13 {
  margin-left: 5%;
  margin-top: 65px;
  border: 1px solid black;
  border-radius:10px;
  width: 90px;
  text-align: center;
}
.key14 {
  margin-left: 5%;
  margin-top: 65px;
  border: 1px solid black;
  border-radius:10px;
  width: 90px;
  text-align: center;
}
.keys1{
  display: flex;
  margin-bottom: 20px;
  margin-left: 20px;
}
.main2 {
    border-bottom: 2px solid gray;
}
/* main3 */
.main3 {
    display: flex;
}
/* data */
.data {
    display: flex;
    margin-left: 30px;
    font-size: 15px;
}
.para {
    margin-top: 65px;
    margin-left: -50px;
    background-color: black;
    color: white;
    font-size: 15px;
    text-align: left;
    margin-bottom: 20px;
}
.main3 {
    border-bottom: 2px solid gray;
}

/* remedition */
.main4 {
    display: flex;
}
.remedition {
    margin-left: 26px;
    font-size: 15px;
    width: 3000px;
    height: 70px;
}
.para2 {
    margin-top: 75px;
    margin-left:-60.3%;
    
    margin-bottom:70px ;
}
.main4 {
    border-bottom:2px solid gray ;
}
/* button */
.main5 {
    display: flex;
}
.button1 {
    margin-top: 30px;
    margin-left: 50%;
    border:2px solid gray;
    height: 40px;
    text-align: center;
    justify-content: center;
    width: 200px;
}
.button2 {
    margin-left: 5%;
    margin-top: 30px;
    border:2px solid gray;
    height: 40px;
    text-align: center;
    justify-content: center;
    width: 200px;
}
.button2:hover {
    background-color: indigo;
    border:2px solid indigo;
    color: white;
}