.header{
    margin-top:11px !important;
    height:1px;
    background:black;
    width:80vw;
   
    
}
@media only screen and (max-width: 1760px) {
    .header{
        width:77vw;
    }
}
@media only screen and (max-width: 1500px) {
    .header{
        width:74vw;
    }
}
@media only screen and (max-width: 1100px) {
    .header{
        width:70vw;
    }
}
.header1{
    margin-top:11px !important;
    height:1px;
    background:black;
    width:82vw;
    
}
@media only screen and (max-width: 1800px) {
    .header1{
        width:78vw;
    }
}
@media only screen and (max-width: 1220px) {
    .header1{
        width:74vw;
    }
}
@media only screen and (max-width: 1100px) {
    .header1{
        width:72vw;
    }
}